@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--color-primary: #ff0000;
	--color-grey-1: #f0eeee;
	--color-grey-2: #8c8c8cce;
	--color-black: #000;
}

$bp-largest: 79.6em; // 1274px
$bp-large: 61em; // 976px
$bp-medium: 42.5em; // 680px
$bp-small: 33.25em; // 532px
$bp-smallest: 27.75em; // 532px

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media only screen and (max-width: $bp-largest) {
		font-size: 53%;
	}

	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-smallest) {
		font-size: 45%;
	}
}

body {
	background: var(--color-black);
	color: var(--color-grey-1);
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 2px;
}
