// Navbar
.navbar {
	background-color: var(--color-primary);
	padding: 2rem;
	display: flex;
	align-items: center;

	&__brand {
		display: flex;
		align-items: center;
	}

	&__logo {
		height: 6rem;
		width: 6.5rem;
	}

	&__logo-text {
		height: 3rem;
		width: 18rem;
		margin-left: 12px;
	}

	&__search {
		margin: 0 auto;
	}

	@media only screen and (max-width: $bp-smallest) {
		flex-direction: column;
		align-items: center;
		padding: 0.5rem;

		&__logo {
			height: rem;
			width: 6.5rem;
		}

		&__logo-text {
			height: 3rem;
			width: 18rem;
			margin-left: 12px;
		}
	}
}

// SearchInput
.search-input {
	margin: 0 auto;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__input {
		padding: 1rem;
		border-radius: 50px;
		border: none;
		width: 90%;
		margin-right: -2.5rem;
		transition: all ease-in 0.2s;
		font-size: 1.5rem;
		background-color: var(--color-grey-1);

		&:focus {
			width: 100%;
			outline: none;

			@media only screen and (max-width: $bp-smallest) {
				width: 90%;
			}
		}

		&::-webkit-input-placeholder {
			color: var(--color-grey-2);
		}
	}

	&__search-icon {
		fill: var(--color-grey-2);
	}

	@media only screen and (max-width: $bp-largest) {
		width: 60%;

		&__input {
			margin-right: -3rem;
		}
	}

	@media only screen and (max-width: $bp-smallest) {
		width: 100%;
		margin: 1rem;
	}
}

// Genres
.genres__list {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	text-transform: uppercase;

	button {
		background: none;
		border: none;
		padding: 0;
		height: 1rem;
		font-family: inherit;
		cursor: pointer;
		margin-left: 1rem;
		color: inherit;
		font-size: 1.9rem;
		letter-spacing: inherit;
	}

	img {
		width: 10rem;
	}

	@media only screen and (max-width: $bp-large) {
		button {
			font-size: 1.9rem;
		}

		img {
			width: 7rem;
		}
	}

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
		align-items: start;

		button {
			margin-left: 0rem;
		}
	}
}

// GamesGrid
.games-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

// GameCard & GameCardSkeleton
.gamecard,
.gamecard-skeleton {
	background: var(--color-grey-2);
	display: flex;
	flex-direction: column;
	margin: 1rem;
	border-radius: 10px;
	overflow: hidden;
	width: 30rem;
	transition: 0.3s ease-in;
	height: 45rem;

	&:hover {
		transform: scale(1.04);
	}

	img {
		width: 100%;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		padding: 10px;

		&-icon {
			font-size: 2rem;
			margin: 2px;
		}
	}

	&__title {
		color: var(--color-grey-1);
		text-decoration: none;
		text-align: center;
		font-size: 1.5rem;
		padding: 1rem;
		margin-top: 2rem;
	}

	@media only screen and (max-width: $bp-largest) {
		height: 35rem;
		width: 20rem;

		&__title {
			font-size: 1.2rem;
		}

		&__info {
			&-icon {
				font-size: 1.5rem;
			}
		}
	}
}

// CriticScore
.critic-score {
	padding: 0.8rem;
	font-size: 1.8rem;
	border-radius: 10px;
	padding: 0.7rem;
	align-self: start;

	@media only screen and (max-width: $bp-largest) {
		font-size: 1.4rem;
	}
}

// SortSelector
.sort-selector,
.platform-selector {
	display: flex;
	margin: 5px;

	select {
		margin-left: 5px;
		background: var(--color-black);
		color: inherit;
		cursor: pointer;
	}

	@media only screen and (max-width: $bp-largest) {
		flex-direction: column;
		align-items: center;
	}

	@media only screen and (max-width: $bp-smallest) {
		font-size: 1.32rem;

		select {
			font-size: 1.5rem;
		}
	}
}

// ExpandableText
.expandable-text {
	padding: 5rem;
	font-size: 2rem;

	button {
		padding: 0;
		height: 0;
		background: none;
		border: none;
		color: var(--color-grey-1);
		cursor: pointer;
		color: var(--color-primary);
		font-size: 2rem;
		font-family: 'Bebas Neue', sans-serif;
		letter-spacing: 0.25rem;
	}
}

// GameScreenShots
.game-screenshots {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__image {
		width: 100%;
	}
}

// GameTrailer
.game-trailer {
	width: 100%;
}

// GameAttributes
.game-attributes {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	&__container {
		margin: 0 auto;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
	}

	dt {
		color: var(--color-primary);
	}

	&__left-side,
	&__right-side {
		display: flex;
		flex-direction: column;
		margin: 2rem;
	}
}

// DefinitionItem
.definition-item {
	margin: 1rem;

	&-score {
		display: flex;

		dd {
			margin-left: 10px;
		}
	}
}
