.layout {
	display: flex;
}

.genres-layout {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	color: var(--color-grey-1);
	font-size: 2rem;

	@media only screen and (max-width: $bp-large) {
		font-size: 1.5rem;
	}
}

.main-layout {
	margin: 0 auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selections-layout {
	display: flex;
	padding: 1rem;
	font-size: 2rem;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: var(--color-grey-1);
	justify-content: center;

	h2 {
		font-size: 3rem;

		@media only screen and (max-width: $bp-medium) {
			font-size: 2rem;
		}

		@media only screen and (max-width: $bp-smallest) {
			font-size: 1.35rem;
		}
	}
}

.selectors-layout {
	display: flex;
	justify-content: center;
	align-content: center;
}

.details-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	font-size: 2rem;
	width: 80%;
	margin: 0 auto;

	h2 {
		margin-top: 2rem;
	}
}
