* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

nav {
	background-color: purple;
	padding: 1rem;
}

img {
	width: 150px;
	height: 100px;
}

h2 {
	font-size: 1rem;
}

button {
	background-color: black;
	border: none;
	color: white;
}

.game-card-skeleton {
	background: white;
	height: 100px;
	width: 100px;
}
